@page "/Instruments"
@using Microsoft.Extensions.Localization
@using global::Lab.Instruments.Localization
@inject IStringLocalizer<InstrumentsResource> L
@{
}
<h1>Instruments</h1>
<p>@L["SamplePageMessage"]</p>