@page "/Measurement/Example"
@using Microsoft.Extensions.Localization
@using global::Lab.Measurement.Localization
@inject IStringLocalizer<MeasurementResource> L
@{
}
<h1>Measurement</h1> 
<p>Example page</p>