@page
@using Microsoft.Extensions.Localization
@using Lab.Measurement.Localization
@using Lab.Measurement.Web.Pages.Measurement
@model Lab.Measurement.Web.Pages.Measurement.IndexModel
@inject IStringLocalizer<MeasurementResource> L

@{
}
<h1>Measurement</h1>
<p>@L["SamplePageMessage"]</p>
